.container {
  width: 100%;
  height: 100%;
  padding: 0;
}

.top-data {
  width: 100%;
  height: 15%;
  margin-top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-data {
  display: flex;
  height: 85%;
  justify-content: space-between;
}

.left-data {
  width: 30%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.left-data img {
  margin-top: 20px;
  width: 18rem;
  height: 18rem;
  background-image: url('../../../assets/no-image.png');
  display: block;
  transition: .5 ease;
  backface-visibility: hidden;
}

.right-data {
  width: 70%;
  padding: 20px 30px;
  margin-top: 5px;
}

.description {
  height: 70%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid rgb(141, 141, 141);
}

.price {
  width: 100px;
  padding: 5px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
}

.title {
  margin-bottom: 20px;
}

.right-bottom-data {
  display: flex;
}

.right-bottom-data button {
  width: 60px;
  font-size: 15px;
  margin-top: 30px;
  margin-left: 200px;
  background: none;
  border: 3px solid rgb(68, 68, 68);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: rgb(68, 68, 68);
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
}

.right-bottom-data button:hover {
  color: white;
  background-color: rgb(68, 68, 68);
  transition: all 0.2s;
}

.buttons {
  display: flex;
  margin-left: 80px;
}

.buttons button {
  width: 80px;
  margin-left: 10px;
}

.middle {
  transition: .5 ease;
  opacity: 0;
  position: absolute;
  text-align: center;
  width: 10.2%;
}

.left-data:hover img  {
  opacity: 0.3;
}

.left-data:hover .middle {
  opacity: 1;
}

.imageHover {
  background-color: rgb(68, 68, 68);
  color: white;
  font-size: 14px;
  padding: 8px 16px;
}

.imageUrl-data {
  position: absolute;
  margin-top: 10px;
  z-index: 100;
}

.imageUrl-data input {
  width: 18rem;
  padding: 4px 8px;
}