<!--
    Products Details Placeholder
-->
<ng-template appPlaceholderProducts></ng-template>



<!--
    ======================
     Products Data Manage
    ======================
-->
<div *ngIf="isAuthenticated" class="manage">
    <div style="display: flex; align-items: center;">
        <!--
            Add Products
        -->
        <div class="add-icon" (click)="addNewProduct()">
            <img src="../../assets/plus.png" alt="add_product">
        </div>
        <label>Add new product</label>
        <!-- Add Product Route -->
        <router-outlet></router-outlet>

        <!--
            Save/Fetch Data On/From Database
        -->
        <div class="manage-data">
            <div class="save-data" (click)="onSaveData()">
                <img src="../../assets/save-data.png" alt="save_data">
            </div>
            <label (click)="onSaveData()">Save data</label>

            <div *ngIf="saved" class="saved-notification">
                <p>Saved</p>
            </div>


            <div class="get-data" style="margin-left: 10px" (click)="onFetchData()">
                <img src="../../assets/fetch-data.png" alt="fetch_data">
            </div>
            <label (click)="onFetchData()">Get data</label>
        </div>
    </div>
</div>



<!--
    ===============
     PRODUCTS LIST
    ===============
-->
<div class="row" style="display: flex; gap: 25px; margin-top: 25px;">
    <div *ngFor="let product of products; let i = index" class="panel panel-default" style="width: 18rem; cursor: pointer;" (click)="showProductDetail(product)">
        <div class="panel-heading">
            <h3 class="panel-title" style="font-size: 20px">{{ product.name }}</h3>
        </div>

        <img [src]="product.imagePath" [alt]="product.name" class="panel-img-top img-responsive card-image">

        <div class="panel-body">
            <p class="panel-text">{{ product.description }}</p>
        </div>
        
        <div class="panel-footer">
            <h5 class="panel-text" style="font-weight: bold">{{ product.price }} €</h5>
            <!--
                Products Controls
            -->
            <div *ngIf="isAuthenticated" class="admin-controls">
                <img src="../../assets/edit.png" alt="edit" (click)="editProduct(product)">
                <img src="../../assets/cancel.png" alt="cancel" (click)="deleteProduct(i)">
            </div>
        </div>
    </div>
</div>